[submodule "BCycle/Migrate existing site/DocumentationTemplate"]
	path = BCycle/Migrate existing site/DocumentationTemplate
	url = git@github.com:amadeusPolson/DocumentationTemplate.git
[submodule "Example/DocumentationTemplate"]
	path = Example/DocumentationTemplate
	url = git@github.com:amadeusPolson/DocumentationTemplate.git
[submodule "NamasteSolar/DocumentationTemplate"]
	path = NamasteSolar/DocumentationTemplate
	url = git@github.com:amadeusPolson/DocumentationTemplate.git
